<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= heroine.name %>
    </li>
      <%= heroine.super_name %>
    <br>
    <%=link_to heroine.power.name, power_path(heroine.power.id)%>
    <br>
  <% end %>
</ul>
