<h1>All Heroines</h1>

<hr>
<h3><%= link_to "Create New Super Heroine", new_heroine_path %></h3>
<hr>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
