<h1><%= @heroine.name %></h1><br>
<%= @heroine.super_name %><br>
<%= link_to @heroine.power.name, power_path(@heroine.power) %><br>

<%= button_to "Back to all Heroines", heroines_path, method: :get %>